[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/youdao-api/*"
  to = "https://dict.youdao.com/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
